body {
    width: 100%;
    height: 100vh;
    margin: 0;
    background-color: #1b1b32;
    color: #f5f6f7;
    font-family: Tahoma;
    font-size: 16px;   
  }
  h1, p{
    margin: 1em auto;
    text-align: center;
  }
  form {
    width: 60vw;
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;
    padding: 2em;
  }
  fieldset {
    border: 0;
    padding: 2rem 0;
    border-bottom: 3px solid rgb(59, 59, 79);
  }
  fieldset:last-of-type { 
      border-bottom: none;
  }
  label {
    display: block;
    margin: 0.5rem 0;
  }
  input, textarea, select {
    width: 100%;
    margin: 10px 0 0 0;
  }
  input, textarea {
    background-color: #0a0a23;
    border: 1px;
    border-style: solid;
    border-color: #0a0a23;
  } 
  .inline {
    width: unset;
    margin: 0 0.5em 0 0;
    vertical-align: middle;
  }
  input[type="submit"] {
    display: block;
    width: 60%;
    margin: 1em auto 1em auto;
    height: 2em;
    font-size: 1.1rem;
    background-color: #3b3b4f;
    border-color: white;
    min-width: 300px;
  }
  input[type="file"] {
    padding: 1px 2px;
  }
  .inline{
    display: inline; 
  }
  a {
    color: #dfdfe2;
  }